.contact{
    padding-top: 140px;
    margin: 0 0 10rem 10rem;

    .content-contact{
        width: 40rem;
        .left-contact{
            button{
                margin-top: 15px;
            }
        }
    }
}