.login{
    background: linear-gradient(120deg, #3ca7ee, #c9c5c9);
}

.form-container{
    width: 30%;
}

.form-input{
    display: block;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.375rem 0.75rem;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    width: 100%;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input{
    outline: none !important;
}

a{
    text-decoration: none !important;
}

@media screen and (max-width: 1000px){
    .form-container{
        width: 45%;
    }
}

@media screen and (max-width: 700px){
    .form-container{
        width: 65%;
    }
}